@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Forum.Models.Thread

@{
    ViewBag.Title = "ViewThreadDetail";
}

<h2>ViewThreadDetail</h2>

<p>List of Posts:</p>
@foreach (var post in Model.Posts)
{
    Html.RenderPartial("_PostPartialView", post);
}

<p>Add a Post:</p>{
    @Html.Partial("_NewPost", new Forum.Models.Post() { Thread = Model })