@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Slåttervägen 177<br />
    35253 Växjö<br />
    <abbr title="Phone">P:</abbr>
    0763910397
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andreas.magell@outlook.com">Support@andreasforum.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:andreas.magell@outlook.com">Marketing@andreasforum.com</a>
</address>