
@{
    ViewBag.Title = "Forum";
}

    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                FORUM
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                FORUM
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                FORUM
            </div>
        </div>
     </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                FORUM
            </div>
        </div>
    </div>
           

