@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Andreas forum</h1>
    <p class="lead">Mitt forumprojekt. Klicka på knappen för att komma till forumet.</p>
    <p><a href="~/Threads" class="btn btn-primary btn-lg">Forum &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aktiv tråd 1</h2>
        <p>
            Senaste inlägget
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Delta &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aktiv tråd 2</h2>
        <p>Senaste inlägget.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Delta &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aktiv tråd 3</h2>
        <p>Senaste inlägget.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Delta &raquo;</a></p>
    </div>
</div>