@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Andreas forum</h1>
    <p class="lead">Mitt forumprojekt. Klicka på knappen för att komma till forumet.</p>
    <p><a href="~/Forums" class="btn btn-primary btn-lg">Forum &raquo;</a></p>
</div>