@model Forum.Models.Post

@using (Html.BeginForm("Add", "Posts")){

    @Html.LabelFor(a => a.Body);
    @Html.TextBoxFor(a => a.Body);

    //A hidden field to store ThreadId
    @Html.Hidden("thread_id", Model.Thread.Id);

    <button>Submit</button>
}